<h3>Traits</h3>
<div class="item-element-max-input">
    <label class="resource-label">Traits</label>
    <input type="text" name="system.traits.raw" value="{{system.traits.raw}}" data-dtype="String"
        data-dropType="skillTrait" {{#unless (isGM)}}readonly{{/unless}} />
</div>