{{!-- Skill Type --}}
<div class="form-group">
    <label>{{ localize "ABBREW.SkillType" }}</label>
    <select name="system.skillType">
        {{selectOptions config.skillTypes selected=system.skillType blank="" localize=true}}
    </select>
</div>
{{#if (eq system.skillType "background")}}
{{!-- Ability Increase --}}
<div class="form-group">
    <label>{{ localize "ABBREW.AttributeIncrease" }}</label>
    <select name="system.attributeIncrease">
        {{selectOptions config.attributes selected=system.attributeIncrease blank="" localize=true}}
    </select>
</div>
{{/if}}