span.actions-icon {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

span.actions-icon::before {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

span.actions-icon.action-0a::before {
  background-image: url("../../abbrew/assets/icons/actions/0a.webp");
}

span.actions-icon.action-1a::before {
  background-image: url("../../abbrew/assets/icons/actions/1a.webp");
}

span.actions-icon.action-2a::before {
  background-image: url("../../abbrew/assets/icons/actions/2a.webp");
}

span.actions-icon.action-3a::before {
  background-image: url("../../abbrew/assets/icons/actions/3a.webp");
}

span.actions-icon.action-4a::before {
  background-image: url("../../abbrew/assets/icons/actions/4a.webp");
}

span.actions-icon.action-5a::before {
  background-image: url("../../abbrew/assets/icons/actions/5a.webp");
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImNvbXBvbmVudHMvYWN0aW9ucy5zY3NzIiwiY29tcG9uZW50cy9hY3Rpb25zLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNJLGFBQUE7RUFDQSxxQ0FBQTtBQ0NKOztBREVBO0VBQ0kscUJBQUE7RUFDQSxXQUFBO0VBQ0EsV0FBQTtFQUNBLFlBQUE7RUFDQSx3QkFBQTtFQUNBLDRCQUFBO0FDQ0o7O0FERUE7RUFDSSxrRUFBQTtBQ0NKOztBREVBO0VBQ0ksa0VBQUE7QUNDSjs7QURFQTtFQUNJLGtFQUFBO0FDQ0o7O0FERUE7RUFDSSxrRUFBQTtBQ0NKOztBREVBO0VBQ0ksa0VBQUE7QUNDSjs7QURFQTtFQUNJLGtFQUFBO0FDQ0oiLCJmaWxlIjoiY29tcG9uZW50cy9hY3Rpb25zLmNzcyIsInNvdXJjZXNDb250ZW50IjpbInNwYW4uYWN0aW9ucy1pY29uIHtcclxuICAgIGRpc3BsYXk6IGdyaWQ7XHJcbiAgICBncmlkLXRlbXBsYXRlLWNvbHVtbnM6IHJlcGVhdCgyLCAxZnIpO1xyXG59XHJcblxyXG5zcGFuLmFjdGlvbnMtaWNvbjo6YmVmb3JlIHtcclxuICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcclxuICAgIGNvbnRlbnQ6ICcnO1xyXG4gICAgd2lkdGg6IDI0cHg7XHJcbiAgICBoZWlnaHQ6IDI0cHg7XHJcbiAgICBiYWNrZ3JvdW5kLXNpemU6IGNvbnRhaW47XHJcbiAgICBiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xyXG59XHJcblxyXG5zcGFuLmFjdGlvbnMtaWNvbi5hY3Rpb24tMGE6OmJlZm9yZSB7XHJcbiAgICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoXCIuLi8uLi9hYmJyZXcvYXNzZXRzL2ljb25zL2FjdGlvbnMvMGEud2VicFwiKTtcclxufVxyXG5cclxuc3Bhbi5hY3Rpb25zLWljb24uYWN0aW9uLTFhOjpiZWZvcmUge1xyXG4gICAgYmFja2dyb3VuZC1pbWFnZTogdXJsKFwiLi4vLi4vYWJicmV3L2Fzc2V0cy9pY29ucy9hY3Rpb25zLzFhLndlYnBcIik7XHJcbn1cclxuXHJcbnNwYW4uYWN0aW9ucy1pY29uLmFjdGlvbi0yYTo6YmVmb3JlIHtcclxuICAgIGJhY2tncm91bmQtaW1hZ2U6IHVybChcIi4uLy4uL2FiYnJldy9hc3NldHMvaWNvbnMvYWN0aW9ucy8yYS53ZWJwXCIpXHJcbn1cclxuXHJcbnNwYW4uYWN0aW9ucy1pY29uLmFjdGlvbi0zYTo6YmVmb3JlIHtcclxuICAgIGJhY2tncm91bmQtaW1hZ2U6IHVybChcIi4uLy4uL2FiYnJldy9hc3NldHMvaWNvbnMvYWN0aW9ucy8zYS53ZWJwXCIpXHJcbn1cclxuXHJcbnNwYW4uYWN0aW9ucy1pY29uLmFjdGlvbi00YTo6YmVmb3JlIHtcclxuICAgIGJhY2tncm91bmQtaW1hZ2U6IHVybChcIi4uLy4uL2FiYnJldy9hc3NldHMvaWNvbnMvYWN0aW9ucy80YS53ZWJwXCIpXHJcbn1cclxuXHJcbnNwYW4uYWN0aW9ucy1pY29uLmFjdGlvbi01YTo6YmVmb3JlIHtcclxuICAgIGJhY2tncm91bmQtaW1hZ2U6IHVybChcIi4uLy4uL2FiYnJldy9hc3NldHMvaWNvbnMvYWN0aW9ucy81YS53ZWJwXCIpXHJcbn0iLCJzcGFuLmFjdGlvbnMtaWNvbiB7XG4gIGRpc3BsYXk6IGdyaWQ7XG4gIGdyaWQtdGVtcGxhdGUtY29sdW1uczogcmVwZWF0KDIsIDFmcik7XG59XG5cbnNwYW4uYWN0aW9ucy1pY29uOjpiZWZvcmUge1xuICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gIGNvbnRlbnQ6IFwiXCI7XG4gIHdpZHRoOiAyNHB4O1xuICBoZWlnaHQ6IDI0cHg7XG4gIGJhY2tncm91bmQtc2l6ZTogY29udGFpbjtcbiAgYmFja2dyb3VuZC1yZXBlYXQ6IG5vLXJlcGVhdDtcbn1cblxuc3Bhbi5hY3Rpb25zLWljb24uYWN0aW9uLTBhOjpiZWZvcmUge1xuICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoXCIuLi8uLi9hYmJyZXcvYXNzZXRzL2ljb25zL2FjdGlvbnMvMGEud2VicFwiKTtcbn1cblxuc3Bhbi5hY3Rpb25zLWljb24uYWN0aW9uLTFhOjpiZWZvcmUge1xuICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoXCIuLi8uLi9hYmJyZXcvYXNzZXRzL2ljb25zL2FjdGlvbnMvMWEud2VicFwiKTtcbn1cblxuc3Bhbi5hY3Rpb25zLWljb24uYWN0aW9uLTJhOjpiZWZvcmUge1xuICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoXCIuLi8uLi9hYmJyZXcvYXNzZXRzL2ljb25zL2FjdGlvbnMvMmEud2VicFwiKTtcbn1cblxuc3Bhbi5hY3Rpb25zLWljb24uYWN0aW9uLTNhOjpiZWZvcmUge1xuICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoXCIuLi8uLi9hYmJyZXcvYXNzZXRzL2ljb25zL2FjdGlvbnMvM2Eud2VicFwiKTtcbn1cblxuc3Bhbi5hY3Rpb25zLWljb24uYWN0aW9uLTRhOjpiZWZvcmUge1xuICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoXCIuLi8uLi9hYmJyZXcvYXNzZXRzL2ljb25zL2FjdGlvbnMvNGEud2VicFwiKTtcbn1cblxuc3Bhbi5hY3Rpb25zLWljb24uYWN0aW9uLTVhOjpiZWZvcmUge1xuICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoXCIuLi8uLi9hYmJyZXcvYXNzZXRzL2ljb25zL2FjdGlvbnMvNWEud2VicFwiKTtcbn0iXX0= */
