<form>
    {{#if chooseModifier}}
    <div class="form-group">
        <label>{{ localize "ABBREW.AbilityModifier" }}</label>
        <select name="ability">
            {{selectOptions abilities selected=defaultAbility}}
        </select>
    </div>
    {{/if}}
    <div class="form-group">
        <label>{{ localize "ABBREW.WeakOrStrong" }}</label>
        <input type="number" name="weakOrStrong" value="" placeholder="{{ localize 'ABBREW.WeakOrStrongExample' }}"/>
    </div>
</form>