:root {
    color-scheme: light dark;
}

.full-width-tags {
    width: 100%;
}

.revealed-item {

    background-color: light-dark(rgba(0, 0, 0, 0.1), var(--color-cool-3));
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    .revealed-details {
        display: grid;
        grid-template-columns: 1fr;

        .revealed-name {
            display: grid;
            grid-template-columns: 1fr 8fr 1fr 1fr;
            align-items: center;

            h4 {
                margin-bottom: 0px
            }
        }
    }
}

.anatomy-revealed-weapons {
    background-color: lightslategray;
    padding-left: 1em;
}

.anatomy-revealed-skills {
    background-color: lightcoral;
    padding-left: 1em;
}

.actor-speed-collection {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1em;
}

.actor-speed {
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: light-dark(rgba(0, 0, 0, 0.1), var(--color-cool-3));
    text-align: center;
    border: black;
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;

    input {
        margin-left: 0.5em;
        margin-right: 0.5em;
        text-align: center;
    }
}

.hidden-speed {
    visibility: hidden;
}

.empty-drop-list-element {
    background: rgba(0, 0, 0, 0.05);
    height: 50px;
    line-height: 50px;
    text-align: center;
    list-style: none;
    border-style: inset;

    span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
}

.available-concepts {
    grid-column: span 3;
    padding-bottom: 0.5em;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 0.5em;
}

.available-concepts-label {
    align-content: center;
}

ol.concept-container {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 40px;
}

.concept {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-bottom: 0px;
    vertical-align: top;
}

.concept-container li.concept img {
    height: 40px;
    width: 40px;
    margin-bottom: 0px;
}

.concept-value {
    float: right;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1000;
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: #000000 0px 0px 10px;
    font-size: 1rem;
}

.concept-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
}

.concept-tooltip {
    display: none;
    position: absolute;
    z-index: 10;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.concept:hover .concept-tooltip {
    display: block;
    pointer-events: none;
}