label.skill-check-actor-name {
    font-size: large;
}

.finisher-buttons {
    list-style: none;
    padding-left: 0px;
}

[data-visibility="gm"] {
    background-color: rgba(240, 240, 255, 0.9);
    outline: 1px solid rgba(0, 0, 255, 0.4);
}

.skill-damage {
    list-style: none;
    padding-left: 0px;
}

.wound-image {
    width: 60px;
}

.chat-message-trait {
    background-color: rgb(95, 158, 160, 0.5);
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 0.25em;
    padding-right: 0.25em;
}