.effects .item {

  .effect-source,
  .effect-duration,
  .effect-controls {
    text-align: center;
    border-left: 1px solid #c9c7b8;
    border-right: 1px solid #c9c7b8;
    font-size: 12px;
  }

  .effect-controls {
    border: none;
  }
}

.strict-tags-length {
  tag.tagify__tag+span.tagify__input {
    display: none
  }
}

.effect-change-list {
  grid-template-columns: 5fr 4fr 4fr 10fr 2fr 2fr 2fr 1fr;
}