$icon-dimension: 24px;
// icon-colour: #4B4B4B

.icon-label {
    display: grid;
    justify-content: center;
}

span.icon {}

span.icon::before {
    display: inline-block;
    content: '';
    width: $icon-dimension;
    height: $icon-dimension;
    background-size: contain;
    background-repeat: no-repeat;
}

span.icon.icon-sunder-c::before {
    background-image: url("../../abbrew/assets/icons/icons/sunder_c.svg")
}

span.icon.icon-sunder-u::before {
    background-image: url("../../abbrew/assets/icons/icons/sunder_u.svg")
}

input[type="checkbox"].armour-sunder {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    display: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
}

span.icon.icon-anatomy-broken-c::before {
    background-image: url("../../abbrew/assets/icons/icons/anatomy-broken_c.svg")
}

span.icon.icon-anatomy-broken-u::before {
    background-image: url("../../abbrew/assets/icons/icons/anatomy-broken_u.svg")
}

input[type="checkbox"].anatomy-broken {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    display: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
}

input[type="checkbox"].anatomy-severed {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    display: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
}

span.icon.icon-anatomy-severed-c::before {
    background-image: url("../../abbrew/assets/icons/icons/anatomy-severed_c.svg")
}

span.icon.icon-anatomy-severed-u::before {
    background-image: url("../../abbrew/assets/icons/icons/anatomy-severed_u.svg")
}

input[type="checkbox"].anatomy-revealed {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    display: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
}

span.icon.icon-anatomy-revealed-c::before {
    background-image: url("../../abbrew/assets/icons/icons/anatomy-revealed_c.svg")
}

span.icon.icon-anatomy-revealed-u::before {
    background-image: url("../../abbrew/assets/icons/icons/anatomy-revealed_u.svg")
}