// Section Header
.items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: $border-groove;
  font-weight: bold;

  >* {
    font-size: 14px;
    text-align: center;
  }

  .item-name {
    font-weight: bold;
    padding-left: 5px;
    text-align: left;
    display: flex;
    // font-size: 16px;
  }
}

// -----------------------------------------
// Items Lists
// -----------------------------------------

.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: $c-tan;

  // Child lists
  .item-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // Item Name
  .item-name {
    flex: 2;
    margin: 0;
    overflow: hidden;
    font-size: 13px;
    text-align: left;
    align-items: center;
    display: flex;

    h3,
    h4 {
      margin: 0;
      white-space: nowrap;
      overflow-x: hidden;
    }
  }

  // Control Buttons
  .item-controls {
    display: flex;
    flex: 0 0 100px;
    justify-content: flex-end;

    a {
      font-size: 12px;
      text-align: center;
      margin: 0 6px;
    }
  }

  // Individual Item
  .item {
    align-items: center;
    padding: 0 2px; // to align with the header border
    border-bottom: 1px solid $c-faint;

    &:last-child {
      border-bottom: none;
    }

    .item-name {
      color: $c-dark;

      .item-image {
        flex: 0 0 30px;
        height: 30px;
        background-size: 30px;
        border: none;
        margin-right: 5px;
      }
    }
  }

  .item-prop {
    text-align: center;
    border-left: 1px solid #c9c7b8;
    border-right: 1px solid #c9c7b8;
    font-size: 12px;
  }

  // Section Header
  .items-header {
    height: 28px;
    margin: 2px 0;
    padding: 0;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border: $border-groove;
    font-weight: bold;

    >* {
      font-size: 12px;
      text-align: center;
    }

    .item-name {
      padding-left: 5px;
      text-align: left;
      // font-size: 16px;
    }
  }
}

// Example style for Abbrew (can be removed if not needed).
.item-formula {

  flex: 0 0 200px;
  padding: 0 8px;
}

ol li.damage-reduction {
  list-style-type: none;
}

.item.item-row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);

  .item-name {
    display: grid;
    grid-column: 1 / 6;
    grid-template-columns: repeat(7, 1fr);

    >div.item-image {
      grid-column: 1 / 2;
      height: 30px;
      background-size: 30px;
      border: none;
      margin-right: 5px;
    }

    >h4.item-label {
      grid-column: 2 / 7;
    }
  }

  .item-equipState {
    grid-column: 6 / 7;

  }

  .icon-label {
    grid-column: 8 / 9;
  }

  .icon-label-2 {
    grid-column: span 2;
  }

  .item-controls {
    display: grid;
    grid-column: 9 / 11;
    grid-template-columns: repeat(2, 1fr);

    a {
      font-size: 12px;
      text-align: center;
      margin: 0 6px;
    }
  }

  .item-controls-1 {
    display: grid;
    grid-column: 10 / 11;
    grid-template-columns: repeat(2, 1fr);

    a {
      font-size: 12px;
      text-align: center;
      margin: 0 6px;
    }
  }
}

.weapon-size {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;
  align-items: center;
  margin-bottom: 1em;

  .weapon-size-detail {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1em;
    align-items: center;
  }
}

.item-equip-state {

  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 2em;
  margin-bottom: 1em;

  >.item-equip-type {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1em;
    align-items: center;

    >label {
      grid-column: 1 / span 2;
      display: flex;
      align-items: center;
    }

    >select {
      grid-column: span 2;
    }
  }

  .item-equip-detail.item-equip-armour-points {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1em;
    align-items: center;
  }

  .item-equip-detail.item-equip-held {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1em;
    align-items: center;
  }

}

.weapon {
  ol.attack-profiles {
    list-style: none;
    padding-left: 0px;

    li.attack-profile {
      display: grid;
      grid-template-columns: 1fr auto;
      list-style: none;
      grid-column-gap: 1em;

      .attack-profile-detail {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .attack-profile-name {
          grid-column: 1 / span 4;
          display: grid;
          grid-template-columns: auto 1fr;
          grid-column-gap: 1em;
          align-items: center;
          margin-bottom: 1em;

          input {
            border-bottom: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
          }
        }

        .attack-profile-detail-entries {
          grid-column: 1 / span 4;
          display: grid;
          grid-template-columns: 1fr 1fr auto;
          grid-column-gap: 1em;
          border-bottom: 1px gray solid;
          padding-bottom: 1em;
          margin-bottom: 1em;
          align-items: center;

          .attack-profile-detail-entry {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-column-gap: 0.5em;
            align-items: center
          }
        }

        .attack-profile-damage-list {
          display: grid;
          grid-column: 1 / span 4;
          list-style: none;
          padding-left: 0px;
          grid-template-columns: 1fr 1fr 1fr 1.5em;

          .attack-profile-damage-header {
            grid-column: 1 / span 3;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            grid-column-gap: 0.5em;
          }

          .attack-profile-damage {
            grid-column: 1 / span 4;
            display: grid;
            align-items: center;
            grid-column-gap: 0.5em;
            padding-top: 1em;
            padding-bottom: 1em;
            border-bottom: 1px gray solid;
            grid-template-columns: 1fr 1fr 1fr auto;
          }
        }
      }
    }
  }
}