ol.skill-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style-type: none;
}

.skill {
    position: relative;
}

div.skill-card {
    height: 200px;
    border: thin solid rgb(0, 0, 0);
    border-radius: 2%;
    padding: 0.2em;
    margin: 2px;
    display: grid;
    grid-template-rows: repeat(8, 1fr)
}

.skill-name {
    justify-self: center;
}

.skill-image {
    display: grid;
    grid-row: span 4;
    width: 80%;
    justify-self: center;
}

.skill-controls {
    // display: inline;
    // grid-row: 8;
    float: right;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1000;
    padding: 5px;
    color: #383131;
    font-weight: bold;
    margin: 2px;
    border-radius: 2%;
}

label.slide-toggle>input {
    display: none;
}

ol.action-container {
    list-style-type: none;
}

ol.resource-requirement-container {
    list-style-type: none;
}

ol.damage-modifier-container {
    list-style-type: none;
}

li.action {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.wound-modifier-container {
    list-style-type: none;
}