ol.skill-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    list-style-type: none;
}

.skill {
    position: relative;
}

div.skill-card {
    height: 200px;
    border: thin solid rgb(0, 0, 0);
    border-radius: 2%;
    padding: 0.2em;
    margin: 2px;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 10px;
    height: calc(27vh - 10px);
}

.skill-name {
    // justify-self: center;
    // text-wrap: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;
    overflow: hidden;
    align-self: center;
    text-align: center;
}

.skill-image {
    display: grid;
    grid-row: span 2;
    width: 80%;
    justify-self: center;
}

.skill-controls {
    // display: inline;
    // grid-row: 8;
    float: right;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1000;
    padding: 5px;
    color: #383131;
    font-weight: bold;
    margin: 2px;
    border-radius: 2%;
}

label.slide-toggle>input {
    display: none;
}

ol.action-container {
    list-style-type: none;
}

ol.resource-requirement-container {
    list-style-type: none;
}

ol.damage-modifier-container {
    list-style-type: none;
}

li.action {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.skill-attribute-increase {
    justify-content: center;
}

div.skill-card.skill-active {
    border-color: #02b629;
    box-shadow: 0 0 10px #5ec775;
}

.skill-card-descriptions {
    list-style: none;
    padding-left: 0px;
}

.skill-per {
    align-self: center;
    text-align: center;
}

.skill-element-max-input {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 5px;
    grid-gap: 10px;
    align-items: center;
}

.skill-paired-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 5px;
    grid-gap: 10px;

    .skill-element-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.skill-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 5px;
    grid-gap: 5px;

    .skill-element-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }
}

.skill-attack-profile {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #888;

    .attack-profile-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;

        .attack-profile-element-2 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .attack-profile-element-3 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        .attack-profile-element-max-input {
            display: grid;
            grid-template-columns: auto 1fr;
            margin-bottom: 5px;
            grid-gap: 10px;
            align-items: center;
            grid-column: 1 / 3;

            .editor.prosemirror {
                height: 200px;
            }
        }
    }
}

.skill-damage-list {
    list-style: none;
    padding-left: 0px;

    .skill-damage-row {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid #888;

        .skill-damage-profile {
            grid-column: 1 / 10;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 5px;
            padding-right: 10px;

            .damage-profile-element-2 {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }

        .skill-damage-control {
            grid-column: 10 / 11;
        }
    }
}

.resource-modifier-container {
    list-style: none;
    padding-left: 0px;
}

.wound-modifier-container {
    list-style-type: none;
    padding-left: 0px;

    .wound-row {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid #888;
        grid-gap: 5px;
    }

    .wound-element-2 {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 5px;
    }

    .wound-element-value {
        grid-column: 1 / 4;
    }

    .wound-element-type {
        grid-column: 4 / 7;
    }

    .wound-element-operator {
        grid-column: 7 / 10;
    }

    .wound-remove {
        grid-column: 11 / 11;
    }
}