ol.wound-container {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 40px;
}

.wound {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-bottom: 0px;
    vertical-align: top;
}

.wound-container li.wound img {
    height: 40px;
    width: 40px;
    margin-bottom: 0px;
}

.wound-value {
    float: right;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1000;
    background-color: #000000;
    // padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: #000000 0px 0px 10px;
    font-size: 1rem;
}

.wound-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.wound-tooltip {
    display: none;
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.wound:hover .wound-tooltip {
    display: block;
    pointer-events: none;
}